/* media queries  */

@media only screen and (max-width: 1080px) and (min-width : 768px) {
    body>* {
        margin: 0 20px;
    }

    #nav-section {
        margin: 0;
        padding: 0 20px;
    }

    #nav-section .nav-wrapper {
        padding: 12px 0;
    }

    #nav-section .nav-wrapper ul li {
        font-size: 16px;
    }

    #banner-section {
        margin: 0;
        padding-bottom: 150px;
    }

    #banner-section .container {
        width: 97%;
        margin: 0 20px;
    }

    .container .intro h1 {
        font-size: 32px;
    }

    #banner-section .container .skills span {
        font-size: 16px;
    }
}

@media only screen and (max-width: 767px) {
    body>* {
        margin: 0 12px;
    }

    #nav-section {
        margin: 0;
        padding: 0 12px;
    }

    #nav-section .nav-wrapper {
        flex-direction: column;
        padding-bottom: 6px;
    }

    #nav-section .nav-wrapper .logo-container {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 8px 0;
    }

    #nav-section .nav-wrapper .logo-container .cv-btn {
        display: block;
        padding: 8px 12px;
        background: var(--tertiaryColor);
        border-radius: 4px;
    }

    #nav-section .nav-wrapper ul {
        width: 100%;
        justify-content: start;
    }

    #nav-section .nav-wrapper ul li {
        font-size: 16px;
        padding: 5px 8px;
        font-weight: 400;
        font-size: 12px;
    }

    #nav-section .nav-wrapper ul li:first-child {
        padding-left: 0;
    }

    #nav-section .nav-wrapper ul li:last-child {
        display: none;
    }

    #banner-section {
        margin: 0;
        padding: 0;
    }

    #banner-section .container {
        flex-direction: column-reverse;
        row-gap: 20px;
        margin: 0 12px;
        width: 95%;
        padding-bottom: 100px;
    }

    #banner-section .container .intro h1 {
        font-size: 28px;
    }

    #banner-section .container .intro h1 img {
        width: 24px;
    }

    .description {
        margin-bottom: 18px;
    }

    #banner-section .container .skills {
        gap: 12px;
        margin-bottom: 18px;
    }

    #banner-section .container .skills img {
        width: 18px;
    }

    #banner-section .container .skills span {
        font-size: 14px;
    }

    #banner-section .marquee-wrapper {
        bottom: 30px;
        padding: 20px 8px;
    }

    #banner-section .marquee-content {
        gap: 12px;
    }

    #banner-section .marquee-container span {
        font-size: 18px;
    }

    #banner-section .marquee-container img {
        width: 24px;
    }

    #about-me-section {
        flex-direction: column;
        padding: 40px 0;
    }

    #about-me-section .left-side {
        max-width: 100%;
    }

    #about-me-section .right-side {
        align-items: start;
    }

    h2 {
        font-size: 24px;
        margin-bottom: 12px;
    }

    #experience-section{
        margin: 0;
        padding: 60px 12px;
    }
    #experience-section .container {
        flex-direction: column;
        align-items: center;
    }

    #experience-section .container .experience-left,
    #experience-section .container .experience-right {
        min-width: 100%;
    }
    #experience-section .container{
        gap: 30px;
    }

}